*{
    margin: 0px;
}
.title{
    background-color:aqua;
    padding:20px;
    text-align: center;
    display:block;
}
p{
    text-align: justify;
    padding: 10px;
    font-size:20px;
}
h1{
    display:inline-block;
    padding:5px;
}
.heading{
    padding:10px;
    display:inline-block;

}
.subheading{
    display:inline-block;
    margin-left: 10px;
    padding-top:5px;
}
div{
    display:inline-block;
    background-color:aqua;
    padding:10px;
    height: 200px;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}
body{
    background-color: aliceblue;
    color: black;
}
